<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:infos_societe:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{input, info_raison_sociale,
				label='Titre',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_rue,
				label='Numéro et rue',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_cp_ville,
				label='Code postal et ville',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_tel,
				label='Téléphone',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_fax,
				label='Fax',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_email,
				label='Email',
				explication=''})]
		</div>
		<div>
			[(#SAISIE{input, info_latitude,
				label='Latitude',
				explication='ex. : 3.333'})]
		</div>
		<div>
			[(#SAISIE{input, info_longitude,
				label='Longitude',
				explication='ex. : 3.333'})]
		</div>

		<input type="hidden" name="_meta_casier" value="infos_societe" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>