[(#AUTORISER{configurer,_infos_societe}|sinon_interdire_acces)]

<h1 class="grostitre"><:infos_societe:titre_page_configurer_infos_societe:></h1>

<div class="ajax">
	#FORMULAIRE_CONFIGURER_INFOS_SOCIETE
</div>